doctype html
html#app
  head
    meta(charset="utf-8")
    title Hello world 
    link(href="css/site.css" rel="stylesheet") 
    script(src="js/site.js")
  body(style="background-image: url('http://3.su.bdimg.com/skin/609.jpg')")
    block con
